@import url("https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap");

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Host Grotesk;
}

:root {
  --max-width: 1200px;
  --min-width: 300px;
  --optimus-width: 100vw;

  --primary-color: #6fa2ff;
  --primary2-color: #7affa6;
  --secondary-color: hsl(from var(--primary-color)h s calc(l + 12));
  --tertiary-color: #050506;

  --title-color: var(--primary-color);
  --subtitle-color: var(--secondary-color);
  --paragraph-color: #f3f5ff;

  --primary-background-color: #050506;
  --secondary-background-color: hsl(from var(--primary-background-color) h s calc(l + 5));
  --tertiary-background-color: hsl(from var(--primary-background-color) h s calc(l + 10));

  --border-color: hsl(from var(--primary-background-color) h s calc(l + 18));
}

body {
  background: linear-gradient(to bottom, var(--primary-background-color), hsl(from var(--secondary-background-color)h s calc(l + 3)));
  position: relative;
}

a {
  text-decoration: none;
}

button {
  outline: none;
  border: none;
}

.wrapper-navbar {
  position: fixed;
  height: 65px;
  z-index: 50;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  transition: all 0.2s ease;
}

.wrapper-navbar.scrolled {
  background: var(--secondary-background-color);
  box-shadow: 0 0 8px black;
}

.navbar {
  width: clamp(var(--min-width), var(--optimus-width), var(--max-width));
  display: flex;
  padding: 0 0.8rem;
}

.navbar-data {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__brand img {
  width: 100px;
}

.navbar__brand:hover {
  color: var(--primary-color);
}

.navbar__toggle {
  width: 55px;
  height: 35px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
}

.navbar__toggle button {
  width: 55px;
  height: 35px;
  border-radius: 6px;
  background: none;
  color: var(--paragraph-color);
  cursor: pointer;
  transition: all 0.3s ease;
  background: var(--primary-background-color);
}

.navbar__close-btn {
  text-align: right;
}

.navbar-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  height: 100vh;
  width: 100%;
  position: absolute;
  background: var(--primary-background-color);
  padding: 1rem;
  top: 0;
  left: 0;
  z-index: 1;
}

.navbar-links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.navbar__link {
  padding-left: 1rem;
  font-size: 1.3rem;
  width: 100%;
  list-style: none;
  display: inline-block;
  text-align: left;
}

.navbar__link a {
  display: block;
  color: var(--paragraph-color);
  font-weight: bold;
  transition: all 0.2s ease;
}

.navbar__link a:hover {
  color: var(--paragraph-color);
  transform: translateY(-3px);
}

.navbar__contact-btn {
  border-bottom: hsl(from var(--primary-color) h s calc(l + 10));
  font-size: 1rem;
  padding: 0.5rem 2rem;
  border-radius: 6px;
  color: var(--tertiary-color);
  font-weight: bold;
  background: linear-gradient(to bottom, var(--primary-color), var(--secondary-color));
  transition: all 0.3s ease;
  cursor: pointer;
  box-shadow: 0 0 12px var(--secondary-color);
}

.navbar__contact-btn:hover,
.contact-btn:hover,
.a-btn:hover,
.a-contact-btn:hover,
.design-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 0 4px var(--secondary-color);
  border-bottom: hsl(from var(--primary-color) h s calc(l + 10));
  ;
}

.page {
  width: 100%;
  max-width: var(--max-width);
  min-width: var(--min-width);
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-self: center;
  align-items: center;
  padding-top: 60px;
}

.hero {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  padding: 4rem 0 2rem 0;
  overflow-x: hidden;
}

.glows {
  position: absolute;
  overflow: hidden;
  height: 1000px;
  width: 100%;
  z-index: -1;
}

.hero-glow {
  width: 500px;
  height: 500px;
  background: linear-gradient(hsl(from var(--primary2-color)h s calc(l + 5)),
      var(--primary2-color),
      hsl(from var(--primary2-color)h s calc(l - 5)),
      rgb(76, 168, 255),
      transparent);
  border-radius: 50%;
  filter: blur(6rem);
  opacity: 0.4;
  position: absolute;
  top: 0%;
  left: -90%;
  transform: translatex(-150px);
  animation: show 1s ease-out forwards;
}

.hero-glow2 {
  width: 500px;
  height: 500px;
  background: linear-gradient(hsl(from var(--primary2-color)h s calc(l + 5)),
      var(--primary2-color),
      hsl(from var(--primary2-color)h s calc(l - 5)),
      rgb(76, 168, 255),
      transparent);
  border-radius: 50%;
  filter: blur(6rem);
  opacity: 0.3;
  position: absolute;
  top: 15%;
  right: -80%;
  transform: translatex(200px);
  animation: show 1s ease-out forwards;
}

@keyframes show {
  to {
    transform: translatex(0);
  }
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  text-align: left;
  gap: 1rem;
  width: 100%;
}

.hero-content__title {
  font-size: 2.6rem;
  line-height: 2.8rem;
  width: 100%;
}

.hero-content p {
  width: 100%;
  text-align: left;
}

.hero-content__title--span {
  background: linear-gradient(to top left, hsl(from var(--primary2-color)h s calc(l + 20)), var(--primary2-color), hsl(from var(--primary2-color)h s calc(l - 5)));
  background-clip: text;
  color: transparent;
}

.hero-img {
  height: 600px;
  width: 100%;
  opacity: 0.3;
}

.hero-content__btns {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.hero-content__btns>* {
  width: 90%;
}

.hero-content p {
  color: var(--paragraph-color);
}

.design-btn {
  font-size: 1rem;
  padding: 0.5rem 2rem;
  border-radius: 6px;
  color: var(--paragraph-color);
  border: 1.5px solid var(--primary-color);
  font-weight: bold;
  transition: all 0.3s ease;
  cursor: pointer;
  text-align: center;
}

.a-contact-btn,
.contact-btn {
  border-bottom: hsl(from var(--primary-color) h s calc(l + 15));
  font-size: 1rem;
  padding: 0.5rem 2rem;
  border-radius: 6px;
  color: var(--tertiary-color);
  font-weight: bold;
  background: linear-gradient(to bottom, var(--primary-color), var(--secondary-color));
  transition: all 0.3s ease;
  cursor: pointer;
  box-shadow: 0 0 12px var(--secondary-color);
  text-align: center;
}

.ri-whatsapp-line {
  font-size: 1.05rem;
  font-weight: normal;
}

.section-container {
  padding: 2rem 0;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.section__bubble {
  background: linear-gradient(to bottom, var(--primary-color), var(--secondary-color));
  box-shadow: 0 0 8px var(--primary-color);
  color: var(--tertiary-color);
  padding: 0.2rem 1rem;
  font-size: 13px;
  border-radius: 2rem;
}

.section__title {
  font-size: 1.6rem;
  margin-top: -1.5rem;
  line-height: 2.1rem;
  color: var(--paragraph-color);
}

.process-section {
  padding: 4rem 0;
  width: 90%;
  display: grid;
  grid-template-columns: 1px 1fr;
  grid-template-areas:  
    "line step1"
    "line step2"
    "line step3"
    "line step4";
  gap: 1rem;
  position: relative;
}

.time-line {
  width: 1px;
  height: 110%;
  background: linear-gradient(transparent, var(--primary-color) 10%, var(--primary-color) 90%, transparent);
  grid-area: line;
}

.circle {
  width: 10px;
  height: 10px;
  background: linear-gradient(to top right, var(--primary-color), hsl(from var(--primary-color)h s calc(l + 30)));
  border-radius: 50%;
  position: absolute;
  left: -5px;
}

.step {
  padding: 1rem;
  background: var(--tertiary-background-color);
  display: flex;
  color: white;
  border-radius: 6px;
  flex-direction: column;
  gap: 0.5rem;
  text-align: left;
  transition: all 0.3s ease;
  opacity: 0;
}

.step.show{
  opacity: 1;
}

.step1 {
  grid-area: step1;
}

.step2 {
  grid-area: step2;
}

.step3 {
  grid-area: step3;
}

.step4 {
  grid-area: step4;
}

.cta-section {
  padding-block: 2.5rem;
  gap: 1.2rem;
  transition: all 0.3s ease;
  opacity: 0;
  transform: translateY(50px) scale(0.8);
}

.cta-section.show {
  opacity: 1;
  transform: translateY(0) scale(1);
}

.cta-section .section__title {
  font-size: 1.9rem;
  background: linear-gradient(to top right,
      hsl(from var(--primary-color)h s calc(l + 20)) 25%,
      var(--primary-color) 80%,
      hsl(from var(--primary-color)h s calc(l - 5)));
  background-clip: text;
  color: transparent;
}

.cta-section p {
  color: var(--paragraph-color);
}

.footer {
  border-top: 1px solid hsl(from var(--secondary-background-color)h s calc(l + 10));
  padding-top: 2rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: center;
}

.footet-container {
  border-radius: 1rem 1rem 0 0;
  width: 100%;
  max-width: var(--max-width);
  min-width: var(--min-width);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 2rem;
  gap: 1.5rem;
}

.footer__brand img {
  width: 80px;
}

.footer__content {
  display: flex;
  gap: 4rem;
}

.footer__content h3 {
  color: var(--paragraph-color);
}

.footer__links {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.footer__links a {
  color: var(--paragraph-color);
  font-size: 0.9rem;
  transition: all 0.3s ease;
}

.footer__links a:hover {
  color: var(--primary-color);
  transform: translateY(-3px);
}

.footer__socials {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.footer__socials a {
  color: var(--primary-color);
  font-size: 1.5rem;
  transition: all 0.3s ease;
}

.footer__socials a:hover {
  color: var(--paragraph-color);
  transform: translateY(-3px);
}

.footer p {
  padding-top: 1rem;
  font-size: 0.8rem;
  color: var(--paragraph-color);
}


/* Oculto */

.oculto {
  display: none;
}

@media (width >=1026px) {

  .navbar {
    padding: 0 2rem;
  }

  .navbar__toggle {
    display: none;
  }

  .navbar-content {
    display: flex;
    padding: 0.5rem;
    background: none;
    justify-content: end;
    flex-direction: row;
    height: inherit;
    position: static;
  }

  .navbar-links {
    flex-direction: row;
  }

  .navbar__link {
    font-size: 1rem;
  }

  .navbar__link a {
    font-weight: 500;
  }

  .navbar__contact-btn {
    width: 180px;
    padding: 0.5rem 0.75rem;
    background: var(--secondary-color);
  }

  .hero-glow {
    width: 800px;
    height: 800px;
    top: -25%;
    left: -25%;
  }

  .hero-glow2 {
    width: 800px;
    height: 800px;
    top: -15%;
    right: -15%;
  }

  .hero-content {
    align-items: center;
    gap: 0.8rem;
  }

  .hero-content__title--span {
    background: linear-gradient(270deg, hsl(from var(--primary2-color)h s calc(l + 20)), var(--primary2-color), hsl(from var(--primary2-color)h s calc(l - 10)));
    background-clip: text;
    color: transparent;
    font-size: 2.8rem;
  }

  .a-contact-btn {
    width: 200px;
  }

  .hero-content__btns {
    flex-direction: row;
    justify-content: center;
  }

  .hero-content__btns>* {
    width: auto;
  }

  .process-section {
    grid-template-columns: 1fr 1px 1fr;
    grid-template-areas:
      ". line step1"
      "step2 line ."
      ". line step3"
      "step4 line .";
  }

  .circle {
    left: 50%;
    translate: -50% -50%;
  }

  .cta-section .section__title {
    background: linear-gradient(270deg,
        hsl(from var(--primary-color)h s calc(l + 20)) 25%,
        var(--primary-color) 80%,
        hsl(from var(--primary-color)h s calc(l - 5)));
    background-clip: text;
    color: transparent;
  }

  .footer__content {
    flex-direction: row;
    align-items: center;
  }

  .footer__links {
    flex-direction: row;
    gap: 1rem;
  }

  .footer__socials {
    flex-direction: row;
    gap: 1rem;
  }

  .footer p {
    text-align: center;
    width: 100%;
  }
}
